.text-stroke { /* Shadow around text */
  text-shadow: 
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}

.custom-table { /* The entire table */
  font-family: Arial, sans-serif; 
  font-size: 16px;
  border-collapse: separate;
  border-spacing: 7px;
}

.custom-table td, .custom-table th { /* specificly the boxes of the tables */
  padding: 2px;
  text-align: center;
  border: 1px solid #505050;
}

.custom-table thead th { /* specificly the title boxes of the tables */
  position: sticky;
  top: 3px;
  background-color: hsl(108, 100%, 85%);
  z-index: 10;
}

.custom-table th:first-child, .custom-table td:first-child { /* The pair boxes */
  width: 165px;
  white-space: nowrap;
  overflow: hidden;
}

.custom-table th:last-child, .custom-table td:last-child { /* The Arbitrage boxes */
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}